<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- Comment out title and replace with template sytanx
	     <title>Document</title> -->
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}

	<div name="page-links" align=center>
		<br></br>
		<hr size="6" width="100%" align=center>
		<p>
		<a href="/">Home</a> | Last Updated: Jan. 2021. Copyright Carpinelli Software, LLC 2021.
		</p>
	</div>

</body>
</html>

