{% extends "base.html" %}

{% block head %}
<!-- Index Page -->
<title>Home - Carpinelli Server</title>
{% endblock %}


{% block body %}
<h1 align=center><u>Home Page</u></h1>

<div name="home-page" align=center>
	<p>
		This is the homepage for the Carpinelli Home Server.
	</p>
	<hr size="6" width="100%" align=center">
	<br></br>
	<p>
		<b>Useful Links</b>
		<br></br>

		<a href="/grocery-list/">Grocery List</a>
	</p>
	<br></br>
</div>
{% endblock %}

